<div class="formInput" align="center">
    <br>
    <br>
    <form>
        <input type="text" placeholder="Enter First Name" ng-model="add.oneCustomer.firstname">
        <br>
        <br>
        <input type="text" ng-model="add.oneCustomer.lastname" placeholder="Enter Last Name">
        <br>
        <br>
        <input type="text" name="address" placeholder="Address Line" ng-model="add.oneCustomer.address">
        <br>
        <br>
        <input type="email" name="email " placeholder="Enter Email Here" ng-model="add.oneCustomer.email">
        <br>
        <br>
        <input type="phone" name="phone " placeholder="Phone Number" ng-model="add.oneCustomer.phone">
        <br>
        <br>
        <input type="submit" name="submit " value="Submit" ng-click="add.addCustomer();"> &nbsp;
        <input type="reset" name="reset " value="reset ">
    </form>
</div>
